# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
CalicoCertifiedAzure/AzureCourse/Screenshot from 2022-06-04 18-19-47.png
CalicoCertifiedAzure/AzureCourse/Screenshot from 2022-06-07 20-20-00.png
CalicoCertifiedAzure/AzureCourse/Screenshot from 2022-06-07 21-10-42.png
